/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body {
    font-family: 'Nerko One', cursive;
    margin: 0 auto;
    background: dodgerblue;
}

.main-container .clearfix:after {
    display:table;
    content: '';
    clear: both;
}

/* Header */

header {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    text-shadow: 2px 2px #000;
}
/* Main Content */

.main-container {
    padding: 20px;
    width: 1200px;
    height: 720px;
    margin: 0 auto;
}

/* Sections Cards */

.card img {
    float: left;
    width: 200px;
    height: 230px;
    margin-right: 80px;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px #000;
    background: #fff;
}

.img1 {
    display: block;
}

.img2,
.img3,
.img4,
.img5,
.img6 {
    display: none;
}

.card:hover .img1 {
    display:none;
}

.card:hover .img2,
.card:hover .img3,
.card:hover .img4,
.card:hover .img5,
.card:hover .img6 {
    display: block;
}



footer {
    margin: 120px;
    text-align: center;
    font-size: 20px;
    color: #000;
}