/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body {
    font-family: 'Nerko One', cursive;
    margin: 0 auto;
    background: dodgerblue;
}

.main-container .clearfix:after {
    display:table;
    content: '';
    clear: both;
}

/* Header */

header {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    text-shadow: 2px 2px #000;
}
/* Main Content */

.main-container {
    padding: 20px;
    width: 1200px;
    height: 720px;
    margin: 0 auto;
}

/* Sections Cards */

.card img {
    float: left;
    width: 200px;
    height: 230px;
    margin-right: 80px;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px #000;
    background: #fff;
}

.img1 {
    display: block;
}

.img2,
.img3,
.img4,
.img5,
.img6 {
    display: none;
}

.card:hover .img1 {
    display:none;
}

.card:hover .img2,
.card:hover .img3,
.card:hover .img4,
.card:hover .img5,
.card:hover .img6 {
    display: block;
}

/* Footer */

footer {
    margin: 120px;
    text-align: center;
    font-size: 20px;
    color: #000;
}

/* Testi sulle carte */

.card{
    position: relative;
}

.card .text1 {
    display: none;
    position:absolute;
    width: 100%;
    height: 100%;
    left: 70px;
    top: 170px;
}

.card .text2 {
    display: none;
    position:absolute;
    width: 100%;
    height: 100%;
    left: 335px;
    top: 185px;
}

.card .text3 {
    display: none;
    position:absolute;
    width: 100%;
    height: 100%;
    left: 620px;
    top: 170px;
}

.card .text4 {
    display: none;
    position:absolute;
    width: 100%;
    height: 100%;
    left: 900px;
    top: 180px;
}

.card .text5 {
    display: none;
    position:absolute;
    width: 100%;
    height: 100%;
    left: 70px;
    top: 440px;
}

.card .text6 {
    position:absolute;
    width: 100%;
    height: 100%;
    left: 340px;
    top: 460px;
    color: purple;
}

.card .text7 {
    display: none;
    position:absolute;
    width: 100%;
    height: 100%;
    left: 630px;
    top: 440px;
}

.card .text8 {
    display: none;
    position:absolute;
    width: 100%;
    height: 100%;
    left: 895px;
    top: 455px;
}

.card .text9 {
    display: none;
    position:absolute;
    width: 100%;
    height: 100%;
    left: 50px;
    top: 715px;
}

.card .text10 {
    display: none;
    position:absolute;
    width: 100%;
    height: 100%;
    left: 345px;
    top: 720px;
}

.card .text11 {
    display: none;
    position:absolute;
    width: 100%;
    height: 100%;
    left: 640px;
    top: 710px;
}

.card .text12 {
    display: none;
    position:absolute;
    width: 100%;
    height: 100%;
    left: 900px;
    top: 735px;
}


.card:hover .text1,
.card:hover .text2,
.card:hover .text3,
.card:hover .text4,
.card:hover .text5,
.card:hover .text7,
.card:hover .text8,
.card:hover .text9,
.card:hover .text10,
.card:hover .text11,
.card:hover .text12 {
    display: block;
    color: orange;
}
